{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% bootstrap_css %}
{% bootstrap_javascript %}
<title>ログイン</title>
</head>
<body>

	<div class="container position-relative" style="height:100vh">
		<div class="card bg-light bg-gradient position-absolute top-50 start-50 translate-middle" >
		<form method="POST" class="card-body">
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ next }}">
			{% bootstrap_form form %}
			{% bootstrap_button button_type="submit" content="ログイン" %}
		</form>
		</div>
	</div>
</body>
</html>